body {
    background-image: url("images/bg.jpg");

}

.login-container {
    display: flex;
    justify-content: center;

}

.login-form {
    display: flex;
    flex-direction: column;
    border: dashed;
    border-radius: 20px;
    width: 50%;
    padding: 15px;
    background-color: bisque;
    margin-top: 50px;
}

.login-form input {
    font-size: 1.2rem;
    margin-top: 5px;
    border: 5px solid #ddd;
    padding-left: 10px;
    border-radius: 10px;


}

.login-form button {
    background-color: orange;
    color: whitesmoke;
    font-weight: 700;
    font-size: medium;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 15px;


}

.login-form label {
    font-size: 1.5rem;
    padding: 10px 0;

}

h2 {
    font-size: 30px;
    margin: 5px;
    text-align: center;
    color: blueviolet;
}

p {
    font-size: 25px;
    margin: 5px;
    text-align: center;
}

body {

    background-color: cornflowerblue;
}

.home-container {
    display: flex;
    justify-content: center;
}

.search-section {
    margin-top: 50px;
}

input {
    font-size: 2.2rem;
    margin-top: 5px;
    padding: 15px;
    border-radius: 10px;
    height: 60px;
    width: 100%;
    border: none;
    background: #f1f1f1;
    text-align: left;


}


h1 {
    font-size: 3.5rem;
    text-align: center;
}



.show-result {
    display: inline-block;
    justify-content: center;
    margin: 20px;

}